@charset 'utf-8';
.fl{float: left;}
.fr{float:right;}
body,h3,h2,p{margin: 0;padding: 0;}
.clearfix:after{content:'';display: block;clear: both;}
html{margin: 0;padding: 0;}
a{text-decoration: none;color:#000;}
ul{margin: 0;padding: 0;}
li{list-style: none;}
.p-r-n{right: 10px;}
h1{margin: 0;}
